.root {}

.link {
    border: 2px solid black;
    overflow: hidden;
    border-radius: 0.375rem;
    color: black;
    cursor: pointer;
}

.link-image {
    height: 9rem;
    width: 100%;
    object-fit: cover;
    cursor: pointer;

    @media (min-width: 768px) {
        height: 12rem;
    }
}

.link-description {
    width: 100%;
    padding: 0.5rem 1rem;
}

.description-title {
    font-size: 1.125rem;
    line-height: 1.75rem;
    margin: 0rem 0rem 0.5rem;
    font-weight: 600;

    @media (min-width: 768px) {
        font-size: 1.25rem;
        line-height: 1.75rem;
        margin-bottom: 0.75rem;
    }
}

.description-stack {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    font-size: 0.875rem;
    line-height: 1.25;
}